.hero-banner{
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 80px 20px;

}

.page-header{
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.admission-section{
    background-color: #83255f;
    color: white;
    padding: 50px 20px;
    margin-top: 30px;
}

.card{
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width:600px)
{
    .hero-banner{
        padding: 50px 15px;
    }

    .hero-banner h1{
        font-size: 24px;
    }
}

